{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/index.ts",
    "**/index.js",
    "**/interfaces/*.js"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "lines": 93,
  "statements": 92,
  "functions": 86,
  "branches": 73.47
}
